

@font-face{
font-family: 'MF';
src: url('type/League-Gothic/LeagueGothic-CondensedItalic.otf') ;
}



body{ background: #F2F2F2;}

header{

	position: fixed;
}

.main {
	width:700px;
}

.blogtitle{

	font-family: MF;
	
	width:30%;
	position: fixed;
	top: 150px;
	left: 20px;
	float: left;
	list-style: none;
 	

}




blogtitle ul {

	list-style-type: none;
}

.posts{ 
	position: relative;
	width:70%;
	float: right;
	text-align:justify;


}

element.style {
position: relative;
left: 20;}


nav {


list-style: none;
text-decoration: none;
color: green;
font-family: Arial, Verdana, sans-serif;


}

nav ul {
  
  clear: both;
  margin: auto;
  padding: 0 350 10px 500px;
  text-decoration: none;
  width: 260px;
}

nav ul li {
  float: left;
  color: #fff;
  margin-left: 10px;
}

a { text-decoration: none;}

/*.left ul {
	float: left;
	width: 90%;

}

